<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>userregister</servlet-name>
  	<display-name>userregister</display-name>
  	<description></description>
  	<servlet-class>com.userservlet.userregister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>adminlogin</servlet-name>
  	<display-name>adminlogin</display-name>
  	<description></description>
  	<servlet-class>com.servletadmin.adminlogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>com.servletadmin.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login_Admin</servlet-name>
  	<display-name>Login_Admin</display-name>
  	<description></description>
  	<servlet-class>com.servletadmin.Login_Admin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logout_servlet</servlet-name>
  	<display-name>logout_servlet</display-name>
  	<description></description>
  	<servlet-class>com.servletadmin.logout_servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logout_admin</servlet-name>
  	<display-name>logout_admin</display-name>
  	<description></description>
  	<servlet-class>com.servletadmin.logout_admin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>user_login</servlet-name>
  	<display-name>user_login</display-name>
  	<description></description>
  	<servlet-class>com.servletadmin.user_login</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>addspecialist</servlet-name>
  	<display-name>addspecialist</display-name>
  	<description></description>
  	<servlet-class>com.servletadmin.addspecialist</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userlogout</servlet-name>
  	<display-name>userlogout</display-name>
  	<description></description>
  	<servlet-class>com.userservlet.userlogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logoutadmin</servlet-name>
  	<display-name>logoutadmin</display-name>
  	<description></description>
  	<servlet-class>com.servletadmin.logoutadmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addDoctor</servlet-name>
  	<display-name>addDoctor</display-name>
  	<description></description>
  	<servlet-class>com.servletadmin.addDoctor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updatedoctor</servlet-name>
  	<display-name>updatedoctor</display-name>
  	<description></description>
  	<servlet-class>com.servletadmin.updatedoctor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deletedoctor</servlet-name>
  	<display-name>deletedoctor</display-name>
  	<description></description>
  	<servlet-class>com.servletadmin.deletedoctor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>doctorlogin</servlet-name>
  	<display-name>doctorlogin</display-name>
  	<description></description>
  	<servlet-class>com.doctor.servlet.doctorlogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>doctorlogout</servlet-name>
  	<display-name>doctorlogout</display-name>
  	<description></description>
  	<servlet-class>com.doctor.servlet.doctorlogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>appintment</servlet-name>
  	<display-name>appintment</display-name>
  	<description></description>
  	<servlet-class>com.userservlet.appintment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>appointmentservlet</servlet-name>
  	<display-name>appointmentservlet</display-name>
  	<description></description>
  	<servlet-class>com.userservlet.appointmentservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updatestatus</servlet-name>
  	<display-name>updatestatus</display-name>
  	<description></description>
  	<servlet-class>com.doctor.servlet.updatestatus</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userregister</servlet-name>
  	<url-pattern>/userregister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>adminlogin</servlet-name>
  	<url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login_Admin</servlet-name>
  	<url-pattern>/Login_Admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logout_servlet</servlet-name>
  	<url-pattern>/logout_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logout_admin</servlet-name>
  	<url-pattern>/logout_admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>user_login</servlet-name>
  	<url-pattern>/user_login</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
  	<servlet-name>addspecialist</servlet-name>
  	<url-pattern>/addspecialist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userlogout</servlet-name>
  	<url-pattern>/userlogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logoutadmin</servlet-name>
  	<url-pattern>/logoutadmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addDoctor</servlet-name>
  	<url-pattern>/addDoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updatedoctor</servlet-name>
  	<url-pattern>/updatedoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deletedoctor</servlet-name>
  	<url-pattern>/deletedoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>doctorlogin</servlet-name>
  	<url-pattern>/doctorlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>doctorlogout</servlet-name>
  	<url-pattern>/doctorlogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>appintment</servlet-name>
  	<url-pattern>/appintment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>appointmentservlet</servlet-name>
  	<url-pattern>/appointmentservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updatestatus</servlet-name>
  	<url-pattern>/updatestatus</url-pattern>
  </servlet-mapping>
</web-app>
